@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Poppins:wght@400;500&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #aaaaaa;
}

/* Common style and utilities */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  height: 80px;
  align-items: center;
}
.navbar-left {
  font-size: x-large;
  color: black;
}
.navbar-right ul {
  display: flex;
  align-items: center;
}
.navbar-right li {
  list-style: none;
  margin: 20px;
  font-weight: 600;
}
.navbar-right li a {
  text-decoration: none;
  color: black;
}
.logo {
  color: black;
  font-size: large;
  gap: 50px;
}

/*----------- main ----------- */

/*------------------- 
     upper part  
-------------------*/
.upper-part {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.upper-part h1 {
  font-size: 52px;
  line-height: 70px;
}
.upper-left {
  text-align: justify;
  margin-right: 10%;
  font-weight: 700;
  line-height: 1.5em;
}
.button {
  position: absolute;
  width: 190px;
  height: 42px;
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  border-radius: 44px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.button-logo {
  font-weight: bold;
  margin-left: 10px;
}

/*--------------------
    Brands logo  
-------------------*/
.brand {
  margin-top: 65px;
  margin-bottom: 60px;
  text-align: center;
}
.brand-border {
  border: 2.5px solid rgba(209, 209, 209, 0.322);
  border-right: none;
  border-left: none;
  margin-left: 300px;
  margin-right: 300px;
  height: 120px;
}
.brand-logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 55px;
  justify-content: center;
  height: 100px;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
}
.brand-logo img {
  width: 82px;
  height: 40px;
}
