@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Poppins:wght@400;500&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #aaaaaa;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Common style and utilities */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  height: 80px;
  align-items: center;
}
.navbar-left {
  font-size: x-large;
  color: black;
}
.navbar-right ul {
  display: flex;
  align-items: center;
}
.navbar-right li {
  list-style: none;
  margin: 20px;
  font-weight: 600;
}
.navbar-right li a {
  text-decoration: none;
  color: black;
}
.logo {
  color: black;
  font-size: large;
  gap: 50px;
}

/*----------- main ----------- */

/*------------------- 
     upper part  
-------------------*/
.upper-part {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.upper-part h1 {
  font-size: 52px;
  line-height: 70px;
}
.upper-left {
  text-align: justify;
  margin-right: 10%;
  font-weight: 700;
  line-height: 1.5em;
}
.upper-rigt {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease-out;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.upper-right:hover {
  transform: scale(1.2);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.button {
  position: absolute;
  width: 190px;
  height: 42px;
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  border-radius: 44px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.button-logo {
  font-weight: bold;
}

.button:hover {
  box-shadow: 0px 5.34229px 13.3557px #db1e4ab7;
  transform: scale(1.1);
  cursor: pointer;
}
.button .fa-arrow-right {
  color: white;
  margin-left: 10px;
}

/*------------------------
    Brands logo section 
------------------------*/
.brand {
  margin-top: 10%;
  text-align: center;
}
.brand-border {
  border: 2.5px solid rgba(209, 209, 209, 0.322);
  border-right: none;
  border-left: none;
  margin-left: 300px;
  margin-right: 300px;
  height: 120px;
}
.brand-logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 55px;
  justify-content: center;
  height: 100px;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
}
.brand-logo img {
  width: 82px;
  height: 40px;
}
/*------------------------------
  popular collection section 
-----------------------------*/
.collection {
  margin: 15%;
}
.collection-title {
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  color: black;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-top: 50px;
  justify-content: center;
}
.product-box {
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.product-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.product-title {
  color: black;
  line-height: 1.5em;
  margin-left: 15px;
  margin-top: 20px;
}
.product-box img {
  width: 300px;
  height: 260px;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 17px;
}
.product-title h2 {
  font-size: 27px;
  font-weight: 500;
}
.product-title h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7em;
}
.product-title p {
  font-size: 15px;
  line-height: 1.5em;
}
.star-logo {
  font-size: x-small;
}
.star-logo span {
  margin-left: 10px;
}
.fa-star.filled {
  color: #fb8200;
}
.fa-star.empty {
  color: #9e9c9c;
  opacity: 0.35;
}
.button-see-more {
  display: block;
  color: #e02c6d;
  margin-left: auto;
  margin-right: 28px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  transition: animation 1s linear;
  background-color: white;
}
.button-see-more:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.button-see-more .fa-arrow-right {
  margin-left: 6px;
}

/*---------------------------
   my section style  
 ------------------------*/
.my-section {
  margin: auto;
  width: 60%;
  height: 60%;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  box-shadow: 0px 0px 10px 1px;
}
.my-section .right {
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .my-section .right {
    width: 100%;
  }
}
.my-section .right h5 {
  font-size: 6vmax;
  line-height: 30pxpx;
  color: black;
}
.my-section .right h4 {
  font-size: 14px;
  color: #b0b3b9;
}
.my-section .right .inputs {
  overflow: hidden;
}
.my-section .right input {
  width: 50%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}
.my-section .right .remember-me--forget-password {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.my-section .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.my-section .right button {
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #e02c6d;
  background-image: linear-gradient(135deg, #e02c6d 10%, #e02c6d 100%);
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: " \f00c";
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid #e02c6d;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: " \f00c";
  color: #fff;
  cursor: pointer;
  background: #e02c6d;
}

label:hover::before .text-checkbox {
  background: #e02c6d;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type="checkbox"] {
  display: none;
}

/*------------------------
        footer 
-----------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  height: 240px;
  background-color: #0a0826;
}
.footer-title p {
  font-size: 24px;
  color: white;
}
.footer-copyright p {
  margin-top: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.social-icon .fab {
  margin-top: 20px;
  color: white;
  padding: 8px;
  margin: 20px 8px 0 8px;
  background-color: #0a0826;
  border-radius: 50%;
}
.social-icon .fab:hover {
  cursor: pointer;
}
